* {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 21px;
}

.img {
  width: 100%;
}

header {
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}

.main-nav {
  position: relative;
  padding: 16px 0 14px 0;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-nav__item:nth-child(2) {
  padding-right: 300px;
}
.main-nav__link {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.main-nav__link:hover {
  color: #81B3D2;
}
.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.welcome {
  position: relative;
  min-height: 630px;
  background-image: url(../img/photos-desktop/intro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome__title {
  position: absolute;
  display: block;
  top: 78px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.welcome__form {
  margin-top: -274px;
}

.form__title {
  margin-top: 318px;
}

.promo {
  margin-top: 55px;
}
.promo__title {
  width: 484px;
  text-align: center;
  margin: 0 auto;
}
.promo__text {
  margin-top: 35px;
  text-align: center;
  color: #333333;
}

.city {
  text-align: center;
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.city__descr {
  color: #ffffff;
  padding: 47px 52px 56px 53px;
  width: 400px;
  min-height: 256px;
  background: #81B3D2;
}
.city__number {
  margin-top: 15px;
  display: block;
  color: #ffffff;
}
.city__text {
  margin-top: 30px;
}

.recommendations {
  text-align: center;
  margin-top: 63px;
  margin-bottom: 80px;
}
.recommendations__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.recommendations__item {
  width: 300px;
}
.recommendations__icon {
  display: block;
  margin: 0 auto;
}
.recommendations__descr {
  margin-top: 25px;
}
.recommendations__title {
  margin-bottom: 25px;
}
.recommendations__text {
  line-height: 26px;
}

.bridge {
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bridge__descr {
  padding: 47px 52px 56px 53px;
  width: 400px;
  min-height: 256px;
  background: #81B3D2;
}
.bridge__number {
  margin-top: 15px;
  display: block;
}
.bridge__text {
  margin-top: 30px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__item {
  background: #EEEEEE;
  text-align: center;
  width: 400px;
  padding: 42px 54px 61px 54px;
}
.advantages__number {
  margin-top: 15px;
  display: block;
}
.advantages__text {
  margin-top: 30px;
}

.hotels {
  text-align: center;
  margin-top: 57px;
}
.hotels__title {
  font-size: 30px;
  margin-bottom: 40px;
}
.hotels__text {
  margin: 0 auto;
  width: 435px;
  line-height: 24px;
  margin-bottom: 37px;
}
.hotels__btn {
  margin-bottom: 58px;
}

.map {
  position: relative;
}
.map__mark {
  position: absolute;
  left: 586px;
  top: 162px;
}

.btn {
  padding: 14px 121px 17px 121px;
  background: #81B3D2;
  font-weight: 700;
  font-size: 21px;
  color: #FFFFFF;
  display: inline-block;
  cursor: pointer;
}
.btn:hover {
  background: #669EC0;
}
.btn:active {
  background: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 120px;
}
.footer__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__list .social__link {
  width: 46px;
  height: 48px;
  background: #81B3D2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__list .social__icon {
  fill: #ffffff;
}
.social__list .social__link:hover {
  background: #669EC0;
}
.social__list .social__link:hover:active {
  background: #5496BD;
}
.social__list .social__link:hover:active .social__icon {
  fill-opacity: 0.3;
}
.social__list .social__item {
  margin-right: 6px;
}
.social__list .social__item:last-child {
  margin-right: 0;
}

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright__link:hover .htmlacademy__icon {
  fill: #81B3D2;
}
.copyright__link:active .htmlacademy__icon {
  fill: rgba(0, 0, 0, 0.3);
}
.copyright__text {
  margin-right: 13px;
}

.feedback {
  position: relative;
  margin-top: 113px;
  margin-bottom: 66px;
}
.feedback__descr {
  margin: 0 auto;
  text-align: center;
  width: 435px;
}
.feedback__title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
}
.feedback__text {
  line-height: 24px;
}
.feedback__btn {
  border: none;
  margin-top: 58px;
}
.feedback__label {
  position: absolute;
  right: 120px;
  bottom: 20px;
}

.form {
  position: relative;
  padding: 0 120px 0 120px;
  margin-top: 57px;
}
.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__divider {
  background: #DBDBDB;
  width: 1px;
  height: 292px;
  position: absolute;
  left: 50%;
}
.form__impression {
  margin-right: 208px;
}
.form__header {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
}
.form__headline {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
}
.form__headline::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 2px;
  background: #DBDBDB;
  top: 50%;
  left: 0;
}
.form__headline::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 2px;
  background: #DBDBDB;
  top: 50%;
  right: 0;
}

.impression {
  margin-left: 90px;
}
.impression__header {
  margin-bottom: 60px;
}
.impression__input {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 65px;
}
.impression__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.impression__radio + label::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 50%;
  cursor: pointer;
  top: -12px;
  left: -60px;
}
.impression__radio + label:hover::before {
  background: #E5E5E5;
}
.impression__radio + label:active::before {
  background: #D5D5D5;
}
.impression__radio:checked + label::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #333333;
  border: 15px solid #F2F2F2;
  border-radius: 50%;
  cursor: pointer;
}
.impression__radio:checked + label:hover::before {
  border: 15px solid #E5E5E5;
}
.impression__radio:checked + label:active::before {
  border: 15px solid #D5D5D5;
  background: rgba(51, 51, 51, 0.3);
}

.fio__text {
  display: inline-block;
  margin-right: 14px;
}
.fio__input {
  background: #F2F2F2;
  border: none;
  padding: 18px 22px 14px 22px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.fio__input:hover {
  background: #E5E5E5;
}
.fio__input:focus, .fio__input:active {
  background: #FFFFFF;
  outline: none;
  border: 4px solid #E5E5E5;
}
.fio__name-1 {
  height: 58px;
  width: 350px;
}
.fio__name-2, .fio__name-3 {
  height: 58px;
  width: 312px;
}
.fio__header {
  margin-bottom: 56px;
}

.contacts {
  position: relative;
}
.contacts__title {
  margin-bottom: 70px;
}
.contacts__number, .contacts__email {
  margin-right: 16px;
}
.contacts__input {
  width: 315px;
  height: 58px;
  padding: 18px 58px 14px 22px;
  background: #F2F2F2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
  border-right: 58px solid #E6E6E6;
}
.contacts__input::before {
  width: 18px;
  height: 18px;
  background-image: url(../icons/phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.contacts__input:hover {
  background: #E5E5E5;
  border-right: 58px solid #E6E6E6;
}
.contacts__input:focus, .contacts__input:active {
  background: #FFFFFF;
  outline: none;
  border: 4px solid #E5E5E5;
  border-right: 58px solid #E6E6E6;
}
.contacts .input__wrapper {
  position: relative;
}
.contacts__icon {
  position: absolute;
  top: 22px;
  right: 21px;
}

.attractions .input__wrapper {
  position: relative;
}
.attractions__title {
  margin-top: 50px;
  margin-bottom: 48px;
}
.attractions__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.attractions__input + label::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background: #F2F2F2;
  top: -16px;
  left: -78px;
  cursor: pointer;
}
.attractions__input + label:hover::before {
  background: #E5E5E5;
}
.attractions__input + label:active::before {
  background: #D5D5D5;
}
.attractions__input + label:active .attractions__check--icon {
  fill: rgba(51, 51, 51, 0.3);
}
.attractions__input:checked + label .attractions__check--icon {
  display: block;
}
.attractions__label {
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}
.attractions__check--icon {
  position: absolute;
  top: 5px;
  left: -60px;
  display: none;
  cursor: pointer;
}
.attractions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 79px;
}

.emotions__title {
  margin-top: 80px;
  margin-bottom: 55px;
}
.emotions__input {
  width: 100%;
  height: 160px;
  padding: 18px 21px 24px 21px;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
  background: #F2F2F2;
  border: none;
}
.emotions__input:focus {
  background: #FFFFFF;
  outline: none;
  border: 4px solid #E5E5E5;
}

.photo {
  margin-top: 96px;
}
.photo__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.photo__descr {
  text-align: center;
  width: 440px;
  margin: 0 auto;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 70px;
}
.photo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.photo__item {
  margin-bottom: -5px;
  position: relative;
}
.photo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 22px 21px 15px 21px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.photo__name {
  font-weight: 700;
  margin-bottom: 10px;
}
.photo__author {
  text-transform: none;
}
.photo__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__like {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 9px;
}

.video {
  margin-top: 62px;
  margin-bottom: 85px;
}
.video__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.video__descr {
  text-align: center;
  width: 445px;
  margin: 0 auto;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 65px;
}
.video__item {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 768px;
  }
  .main-nav {
    padding: 16px 11px 14px 35px;
  }
  .main-nav__item:nth-child(2) {
    padding-right: 180px;
  }
  .city__descr {
    padding: 40px 32px 43px 42px;
    width: 256px;
  }
  .bridge__descr {
    padding: 40px 36px 40px 36px;
    width: 256px;
    height: 256px;
  }
  .map__mark {
    left: 370px;
    top: 164px;
  }
}/*# sourceMappingURL=style.css.map */